* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: @siteFontFamily;
  font-size: @siteFontSize;
  line-height: 1.3;
  
  min-width: round(1.02 * @pageWorkWidth);
}

.clear() {
    &:after,
        &:before {
        content: '';
        display: table;
        clear: both;
    }
}

.animation(@animation) {
  -webkit-animation: @animation;
  -moz-animation: @animation;
  -o-animation: @animation;
  animation: @animation;
}
.inline-no-float {
  font-size: 0;
  letter-spacing: -4px;
  [class*=col] {
    float: none;
    letter-spacing: normal;
    display: inline-block;
    font-size: 14px;
  }
}
.row {
    width: 100%;
}