@em: 16px;

@pageWorkWidth: round(60 * @em);
@siteFontSize: round(0.875* @em);

@font-face {
  font-family: 'PT Sans'; 
  src: url('../fonts/pts55f_w.eot'); 
  src: local('PT Sans'), 
    url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/PTS55F_W.woff') format('woff'),
    url('../fonts/PTS55F_W.ttf') format('truetype'), 
    url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}

@font-face {
  font-family: 'PT Sans'; 
  font-style: italic;
  src: url('../fonts/pts56f_w.eot'); 
  src: local('PT Sans Italic'),
    url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTS56F_W.woff') format('woff'),
    url('../fonts/PTS56F_W.ttf') format('truetype'),
    url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold; 
  src: local('PT Sans Bold'),
    url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTS75F_W.woff') format('woff'),
    url('../fonts/PTS75F_W.ttf') format('truetype'),
    url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold; 
  src: url('../fonts/pts76f_w.eot'); 
  src: local('PT Sans Bold Italic'),
    url('../fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTS76F_W.woff') format('woff'),
    url('../fonts/PTS76F_W.ttf') format('truetype'),
    url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}

@siteFontColor: @black;

@siteFontFamily: 'PT Sans', sans-serif;
@headerFontFamily: 'PT Sans', sans-serif;

@linkColor: #006699;

@white: #fff;
@black: #000;

@siteColor1: #51ac0f;
@siteColor2: @black + 242;
@siteColor3: @black + 217;
@siteColor4: @black + 102;
@siteColor5: @black + 153;
@siteColor6: #76c3e2;
@siteColorE: #cc6666;