body {
  .wpcf7 {
    &-form {
      position: relative;
    }
    &-response-output {
      position: absolute;
      right: 0;
      top: 100%;
      left: 0;
      border: none;
      margin: 0;
    }
    &-validation-errors {
      background-color: fadeout(yellow, 75%);
    }
    &-mail-sent-ok {
      background-color: fadeout(green, 75%);
    }
    &-form-control-wrap {
      display: inline-block;
      max-width: 100%;
    }
    &-not-valid-tip {
      position: absolute;
      top: 0;
      left: round(15/16 * @em);
      font-size: round(14/16 * @em);
      .animation(fade_out 3s 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards);
    }
  }
}
.fade_out_animation() {
  from { 
    opacity: 1; 
    margin-left: 0%;
  } 
  to { 
    opacity: 0; 
    margin-left: 10%;
  }
}
@-webkit-keyframes mgt-fade- { .fade_out_animation()  }
   @-moz-keyframes fade_out { .fade_out_animation()  }
     @-o-keyframes fade_out { .fade_out_animation()  }
        @keyframes fade_out { .fade_out_animation()  }