@import "helpers/lessmix.less";
/*@import "helpers/normalize.less";*/
@import "helpers/variable.less";
@import "helpers/technical.less";
@color1: #a0cc3a;
@color2: #74b042;

.options {
    &-wrapper {
        /*#gradient.radial(@color1, @color2);*/
        height: 100%;
        
        padding-bottom: 170px;
        min-height: 270px;
        position: relative;
    }
    &-logo {
        &-wrapper {
            position: absolute;
            bottom: 20px;
            right: 0;
            left: 0;
            margin: auto;
            text-align: center;
        }
        &-link {
            display: inline-block;
        }
    }
    &-center {
        position: absolute;
        top: 50%;
        left: 0;
        .transform(translateY(-50%));
    }
    @c: #1bb27f;
    &-input {
        &-container {
            text-align: center;
            /*max-width: 66%;*/
            max-width: 625px;
            
            margin: 0 auto;
            button[type=submit],
            input[type=text] {
                box-shadow: 0 0 0 2px @c;
                border-radius: 0;
                border: none;
                
                display: inline-block;
                width: auto;
            }
            input[type=text] {
                min-width: 75%;
                @w: 100px;
                min-width: ~'-webkit-calc(100% - @{w})';
                min-width: ~'calc(100% - @{w})';
            }
            button[type=submit] {
                box-shadow: 0 0 0 2px @c;
                border-radius: 0;
                border: none;
                
                background: @c;
                color: @white;
                width: 100px;
            }
        }
    }
    &-link {
        font-size: 13px;
        color: @white - 51;
        &:focus,
            &:hover {
            color: #999;
        }
        &-wrapper {
            margin: 20px auto 0;
        }
    }
}

html,
body {
    min-height: 100%;
    height: 100%;
    height: 100vh;
}
.row {
    &.no-padding {
        [class*=col] {
            padding: 0;
        }
    }
}