/*@import "helpers/normalize.less";*/
@import '../css/tech.css';
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts55f_w.eot');
  src: local('PT Sans'), url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F_W.woff') format('woff'), url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url('../fonts/pts56f_w.eot');
  src: local('PT Sans Italic'), url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F_W.woff') format('woff'), url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F_W.woff') format('woff'), url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/pts76f_w.eot');
  src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F_W.woff') format('woff'), url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  min-width: 979px;
}
.inline-no-float {
  font-size: 0;
  letter-spacing: -4px;
}
.inline-no-float [class*=col] {
  float: none;
  letter-spacing: normal;
  display: inline-block;
  font-size: 14px;
}
.row {
  width: 100%;
}
input.form-control {
  border-radius: 0;
  border-color: transparent;
}
.btn {
  /*padding-top: 12px;*/
  /*padding-bottom: 12px;*/
  border-radius: 6px;
  border-color: transparent;
}
.mgtskKey.form-control {
  /*background-image: data-uri('../img/mgtsk-key.png');*/
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-position: -webkit-calc(100% - 5px) 50%;
  background-position: calc(100% - 5px) 50%;
  padding-right: 22px;
}
.col {
  padding: 0 10px;
}
.js-file-input-container,
.js-file-input-container > * {
  cursor: pointer;
}
.js-file-input-container:hover,
.js-file-input-container.hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
img {
  max-width: 100%;
}
body.shrinked {
  min-width: 320px;
}
.shrinked .page-work-width {
  max-width: 100%;
}
.shrinked .mgt-wr {
  margin: auto !important;
}
.shrinked > .page-work-width {
  height: 100%;
}
.mgt {
  line-height: 1.2;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  margin: 0;
  padding: 16px 20px;
  background-color: #f2f2f2;
}
.mgt-drag-hidden .mgt-file-drag {
  display: none;
}
.mgt-wr {
  padding-top: 8px;
  padding-bottom: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKCAQAAADSxYyGAAAAT0lEQVR4XlWJYQqAMAhGP7fsDFPaJBjUf+9/t0oh6nvA8yGAxjLVZTbGMz02ATbRM7K7EWDUPdJS6eH7y/BS8eVOxhpwZsUSxJdAKEFev110tgYcOSnaLAAAAABJRU5ErkJggg==");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  width: 360px;
  float: none !important;
}
@media only screen and (max-width: 320px) {
  .mgt-wr {
    width: 320px !important;
  }
}
.mgt-wr:after,
.mgt-wr:before {
  content: '';
  display: table;
  clear: both;
}
.mgt-wr.mgt-single {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}
@media only screen and (max-height: 470px) {
  .mgt-wr.mgt-single {
    top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.mgt-title {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}
.mgt-subtitle {
  font-size: 12px;
  color: #666666;
}
.mgt-input,
.mgt-button {
  box-shadow: none;
  -webkit-appearance: none;
  text-decoration: none;
  display: inline-block;
  border: none;
  line-height: 1;
  font-family: 'PT Sans', sans-serif;
}
.mgt-input {
  border-radius: 0;
  font-size: 14px;
  line-height: 1;
  width: 100%;
  background-color: #ffffff;
  height: 34px;
  border: 1px solid #d9d9d9;
  padding: 0 17px;
  color: #000000;
  -webkit-transition: background 400ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
  -moz-transition: background 400ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
  -o-transition: background 400ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
  transition: background 400ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
}
.mgt-input-wr {
  margin: 9px 0;
}
.mgt-input-wr-hr {
  border-top: 1px solid #d9d9d9;
  margin: 21px 0;
}
.mgt-input-valid {
  color: #51ac0f;
  background-color: #efffee;
}
.mgt-input-error {
  color: #cc6666;
  background-color: #fff0f0;
}
.mgt-input-disabled {
  background-color: #cccccc;
  cursor: default;
}
.mgt-input-disabled:focus {
  outline: none;
}
.mgt-input::-webkit-input-placeholder {
  line-height: 1.4;
}
.mgt-button {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #51ac0f;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  height: 38px;
  line-height: 38px;
  -webkit-transition: background 400ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
  -moz-transition: background 400ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
  -o-transition: background 400ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
  transition: background 400ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
}
.mgt-button,
.mgt-button:visited,
.mgt-button:hover,
.mgt-button:active {
  color: #ffffff;
}
.mgt-button:hover {
  background: #69bf2a;
}
.mgt-button:active {
  background: #44910c;
}
.mgt-button.mgt-disabled {
  background: #d9d9d9;
  cursor: default;
}
.mgt-button.mgt-disabled,
.mgt-button.mgt-disabled:hover,
.mgt-button.mgt-disabled:active,
.mgt-button.mgt-disabled:visited {
  color: #999999;
}
.mgt-textarea {
  padding: 11px 17px;
  height: 5.6em;
}
.mgt-file {
  color: #999999;
  position: relative;
  padding-left: 22px;
}
.mgt-file-link {
  font-size: 14px;
  color: #999999 !important;
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-transition: color 300ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
  -moz-transition: color 300ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
  -o-transition: color 300ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
  transition: color 300ms cubic-bezier(0.33, 1.05, 0.57, 1.29);
}
.mgt-file-link:hover {
  color: #808080 !important;
}
.mgt-file-link:before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA0klEQVR4AZ3TMQrCMBhAYSfRDjYXcHUzZ7FrOrh18CJdcwOPIXiCVuhaugccsjsoQnxDhBKCqS180P7JgxLIIvVUVZWhhoGDhYaYEudoMEBBokCHHiIVt14e+asOenIc2VPATo55L3EefUu4f+IXytFMwcyNcwyo58YtGmTfE20isfoRg71+WGMI4i2eOP6M/YKBCg7zgHsy9osOMpjt8EaJPW7R2G+2KCLzEx5wuERjv1GjQxbMV1hjk7owAj06FJBQGHDFcsqtE9CwcDCokaXaD2Hj4PHzYCiwAAAAAElFTkSuQmCC");
  display: block;
  position: absolute;
  top: 0;
  left: -21px;
}
.mgt-file-link input[type="file"] {
  position: absolute;
  font-size: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  /*z-index: 2;*/
}
.mgt-file-link-text {
  border-bottom: 1px dotted #999999;
  display: inline-block;
  margin-bottom: 2px;
}
.mgt-file-desc {
  font-size: 11px;
}
.mgt-file-type {
  padding-left: 46px;
  font-size: 12px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  position: relative;
  margin: 10px 0;
  min-height: 27px;
}
.mgt-file-type-wr {
  padding-left: 6px;
  margin: 18px 0 22px;
}
.mgt-file-type-name {
  color: #666666;
}
.mgt-file-type-value {
  color: #999999;
}
.mgt-file-type-value-act {
  color: #666666;
}
.mgt-file-type-progress {
  background-color: #76c3e2;
  box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.05), inset 0 -1px 0px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.mgt-file-type-progress-wr {
  position: relative;
  height: 3px;
  width: 100px;
  display: inline-block;
  background-color: #c2c2c2;
  box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.05), inset 0 -1px 0px 1px rgba(0, 0, 0, 0.15);
  vertical-align: middle;
  margin-right: 6px;
}
.mgt-file-type-trash {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAAAAABDbitiAAAAAnRSTlMAAHaTzTgAAABBSURBVHgBYwCCubFzQdTqEghYzVDyEQJKmDSyIECDgaHoHRgyAFkvQRDEKngMhkBW/j0wBLFugSCINSMUBGYwAAA2PynIMfrhjAAAAABJRU5ErkJggg==");
}
.mgt-file-type-svg-icon {
  width: 31px;
  position: absolute;
  top: 0;
  left: 0;
}
.mgt-file-type-svg-icon path {
  fill: #939393;
}
.mgt-file-type-png {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAbCAYAAABr/T8RAAABg0lEQVR4AeWWTUrEQBCFI6IiuHYEd3oBUdBBjyAi4jnceIHoAfLfBHOFbBzQlYfwCLqcDII6J2jfgw4UAZPMpBNAC4pUJ5X6Jq9rKnHCMLyCz+I41m09iqIbp6sZ6HHbfAMv4OedwCy0aH6SJIc8BkFwMCiYR8h9CbWmnuftDgo28FusX5VSW4OCtdYreOoH/ICnPM9X+wYXAI3LdZZla1i/xLBewdxbwuG66j2B6+1PgCnrBq7TvphnweeombBuE5hJj+jckQ1V0jTdBm/CurVgAL9tQUXNEevWguU1KRnnO7u7PI/4onoPxuo14g95n8xZBCwn1pjw8jziN4zOTZlHKPKOZL2uYMZn8EKAnwG5E3nNdZeUekp5hdT77Hzf9/eqYKtSC5OAe87s3564NzD3GPE71/IDo3cwjfJX3tezZaWe80/vWDSl1A77oQms4BNbQ4RQ0wdB46yGJ5w0NmY16nwS6rru+j98LbLzgiA46cDklpyaSdbeZNt38MJMstb2AxQLa4qzUFBsAAAAAElFTkSuQmCC");
}
.mgt-file-type-doc {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAbCAYAAABr/T8RAAABdklEQVR4Ae2WUUrEMBCGI6K++KyClxARFT2CqIpewxcv0BOUtE1Y7BX64oJvHsJbqLuuqHuC+v/YQAiybUy2gDowpPPvMF83ySQVWZadw8dFUdRdPc/zKxFqDXS3a34DH8GPgsAs5JuvlNrmKKXc6hXMEdN9itl6TtN0s1dwA79G/KC1Xu0VXNf1Av71DV7grqqqxXmDRwDtm7gsyyXE9wVsrmCuLeHftZk/OIL9CjCndaX4snfmRfApairWbQMz6RY7d11EsMFgsAbekHVnggH8iAU1xnqsOxNs/2ZPGc937m7qSqkLaBNXx3iJ+JU6/AV5J3YtL7B5llLuEdLoExTdcXVCjc6+R95TMNjEPjrNF/wP5vMhr0TzIcG1dXVuKEd//DHYOItjwxxb9/LY1RGfEW6+WKj7gKdsehHRtNYbPAnbwBo+ZNPHgvLuRk3ZelbDFU+aGGc16rwRmiTJ8p+7Fq12CDAsxwF3rvAxux0C3LRLZ/sEzExl4EyNeNoAAAAASUVORK5CYII=");
}
.mgt-file-type-temp {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAbCAYAAACeA7ShAAAA8UlEQVR42u2VPQrCQBhEtxMb9Qoiip5NCwXBU4RkkyqX8O8IouhRrGMqLXReMCJi4WYbBQeGbMh+L7OBMAbFcdyXl3ImXx2cW2tXzBsUhuFAN0d5pHXLvKgcNG8kUIM55gsgZHn4vMkFiADCMVEUndI0bVYFIeY5snne6AMsnn+y6dMX/pP9k31RMn8Y/21Xzw/3dHtrbacyDIA8EaQmTwXf+sAugFgHQVAX7OwD25EIkK4zwTaVYXwjjkYiQNrbdoA56OdgOS3jA6LV6BJga9rJB6b5sbwA1i97k5ZxTQSI+SRJeo9Gp/eI6tjomTwvQTdge4HlBYZvKgAAAABJRU5ErkJggg==");
}
.mgt-file-drag {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.62);
  padding: 18px;
}
.mgt-file-drag-input {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  /*width: 100%;*/
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 39px;
  line-height: 35px;
  position: absolute;
  right: 18px;
  left: 18px;
}
.mgt-bordered {
  border: 2px dashed #ffffff;
}
.mgt-technology {
  color: #b4b4b4;
  font-size: 12px;
  text-align: center;
}
.mgt-technology-link {
  text-decoration: underline;
}
.mgt-technology-link,
.mgt-technology-link:visited {
  color: #b4b4b4;
}
.mgt-technology-link:hover {
  color: #bebebe;
}
.mgt-technology-link:active {
  color: #aaaaaa;
}
.mgt-text {
  font-size: 14px;
  margin: 14px 0;
  color: #666666;
}
.mgt-text-strong {
  font-weight: bold;
  margin: 2em 0;
}
.mgt-loader-animation {
  position: relative;
  /*width: @w;*/
  margin: 7px auto;
  font-size: 0;
  letter-spacing: -4px;
  text-align: center;
}
.mgt-loader-animation-item {
  -webkit-animation: mgt-fade-out 750ms 0s cubic-bezier(0.33, 1.05, 0.57, 1.29) alternate none infinite running;
  -moz-animation: mgt-fade-out 750ms 0s cubic-bezier(0.33, 1.05, 0.57, 1.29) alternate none infinite running;
  -o-animation: mgt-fade-out 750ms 0s cubic-bezier(0.33, 1.05, 0.57, 1.29) alternate none infinite running;
  animation: mgt-fade-out 750ms 0s cubic-bezier(0.33, 1.05, 0.57, 1.29) alternate none infinite running;
}
.mgt-loader-animation-item {
  display: inline-block;
  font-size: 0;
  width: 5px;
  height: 7px;
  box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 3px;
  /*position: absolute;*/
  top: 0;
  /*        &-n1 {
                          -webkit-animation-delay: round(0 * 0.14 * @t);
                          -animation-delay: round(0 * 0.14 * @t);
                        }*/
}
.mgt-loader-animation-item:last-child {
  margin-right: 0;
}
.mgt-loader-animation-item-n1 {
  /*left: round(@n * @w) + @n * round(0.5 * @w);*/
  -webkit-animation-delay: 105ms;
  animation-delay: 105ms;
}
.mgt-loader-animation-item-n2 {
  /*left: round(@n * @w) + @n * round(0.5 * @w);*/
  -webkit-animation-delay: 210ms;
  animation-delay: 210ms;
}
.mgt-loader-animation-item-n3 {
  /*left: round(@n * @w) + @n * round(0.5 * @w);*/
  -webkit-animation-delay: 315ms;
  animation-delay: 315ms;
}
.mgt-loader-animation-item-n4 {
  /*left: round(@n * @w) + @n * round(0.5 * @w);*/
  -webkit-animation-delay: 420ms;
  animation-delay: 420ms;
}
.mgt-loader-animation-item-n5 {
  /*left: round(@n * @w) + @n * round(0.5 * @w);*/
  -webkit-animation-delay: 525ms;
  animation-delay: 525ms;
}
.mgt-loader-animation-item-n6 {
  /*left: round(@n * @w) + @n * round(0.5 * @w);*/
  -webkit-animation-delay: 630ms;
  animation-delay: 630ms;
}
.mgt-ext-popup {
  min-width: 0;
  padding-bottom: 16px;
}
.mgt-ext-popup .mgt-wr {
  background-image: none;
}
@-webkit-keyframes mgt-fade-out {
  0% {
    /*.opacity(0.5);*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    /*.opacity(0);*/
    /*.transform(scale(0.8) translate3d(0,0,0));*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0);
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    /*.opacity(0.5);*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@-moz-keyframes mgt-fade-out {
  0% {
    /*.opacity(0.5);*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    /*.opacity(0);*/
    /*.transform(scale(0.8) translate3d(0,0,0));*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0);
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    /*.opacity(0.5);*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@-o-keyframes mgt-fade-out {
  0% {
    /*.opacity(0.5);*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    /*.opacity(0);*/
    /*.transform(scale(0.8) translate3d(0,0,0));*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0);
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    /*.opacity(0.5);*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@keyframes mgt-fade-out {
  0% {
    /*.opacity(0.5);*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    /*.opacity(0);*/
    /*.transform(scale(0.8) translate3d(0,0,0));*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0);
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    /*.opacity(0.5);*/
    box-shadow: inset 0 0 0 1px rgba(217, 217, 217, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
/*# sourceMappingURL=styles.css.map */