select {
  width: 100%;
  max-width: 100%;
}
.project-statement {
  height: 200px;
  background: rgba(124,124,124,0.25);
  margin: 1em 0;
  padding: 0.5em;
  font-size: 0.85em;
  overflow: auto;
}
body.overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(154,0,0,0.5);
}