<div class="b-itemlist item-list-connectable">
  <ul class="itemlist-list">
    <div class="itemlist-item item-undone">
      <div class="itemlist-item-title">
        <div class="itemlist-item-actions-finish">
          <div class="item-loader">

          </div>
        </div>
        <div class="item-add-mini-inner ui-helper-clearfix">
          <div class="item-add-mini-input-wrapper j-item-form">
            <div class="mgt mgt-drag-hidden" style="display: inline-block;">
              <div class="col st-w6-16 off5 mgt-wr">
                <div class="mgt-file">
                  <span class="mgt-file-link">
                    <input class="mgt-input" type="file" id="mp-get-file" />
                    <span class="mgt-file-link-text" style="font-size: 12px;">Загрузить список дел</span>
                  </span>
                    <div class="project-statement"></div>
                    <div id="mp-set-tasks-wr"></div>
                </div>
              </div>
              <div class="mgt-file-drag" id="js-drag_and_drop_container">
                <div id="js-loader" class="mgt-file-drag-input js-overlay" style="top: 50%;">
                  <div class="mgt-loader">
                    <div class="mgt-loader-animation">
                      <div class="mgt-loader-animation-item mgt-loader-animation-item-n1"></div>
                      <div class="mgt-loader-animation-item mgt-loader-animation-item-n2"></div>
                      <div class="mgt-loader-animation-item mgt-loader-animation-item-n3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>